@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-green: #345333;
    --bg-cream: #f2f1ec;
    --primary-foreground-800: #313131;
    --primary-foreground-100: #8b8b8b;

    --secondary-foreground-800: #466245;
    --secondary-foreground-500: #3d5a3c;
  }
}
